.auth {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(45deg, #007bff 50%, #F0C67D 50%);
}

.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #F0C67D 50%, #007bff 50%);
}

.page__btn-signout {
  position: fixed;
  top: 20px;
  left: 20px;
}

.auth__wrapper,
.todo-list {
  background-color: #fff;
  padding: 30px;
  border-radius: 6px;
}

.todo-list {
  position: relative;
  min-width: 400px;
}

.auth__title,
.auth label {
  color: #335577;
}

* {
  transition: color 0.3s;
}

body .btn {
  transition: background-color 0.3s, color 0.3s;
}

body .btn:focus {
  box-shadow: none;
}

.auth input {
  font-size: 14px;
  outline: none;
  -webkit-box-shadow: inset 0 0 0 50px #fff;
  -webkit-text-fill-color: #000;
}

.auth input:focus {
  border-color: rgb(51, 85, 119);
  -webkit-box-shadow: inset 0 0 0 50px #fff;
  -webkit-text-fill-color: #000;
}

.auth .btn:focus {
  box-shadow: none;
}


.app .auth *{
  font-weight: 100;
}

.auth__title {
  margin-bottom: 30px;
}

.auth .btn {
  background-color: rgb(51, 85, 119);
  color: #fff;
}

.auth .btn:hover {
  background-color: rgba(51, 85, 119, 0.9);
  color: #fff;
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 9999;
}

.todo-item {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.todo-item:last-child {
  margin-bottom: 0;
}

.todo-item__info:hover .todo-item__label {
  color: rgb(241, 83, 98);
}

.todo-item__info:hover .todo-item__checkbox {
  border-color: rgb(241, 83, 98);
  color: rgb(241, 83, 98);
}

.todo-item__label.todo__checked {
  text-decoration: line-through;
  color: #999a9c;
}

.todo-item__info {
  display: flex;
  align-items: center;
}

.todo-item__info,
.todo-item__checkbox{
  cursor: pointer;
}

.todo-item__checkbox {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: 1px solid #999a9c;
  border-radius: 3px;
  color: #999a9c;
  transition: border-color 0.3s;
}

.todo-item__checkbox_hidden {
  display: none;
}

.todo-item__label {
  cursor: pointer;
  margin: 0 10px;
  color: #4e5052;
  border: none;
}

.todo-list .todo-item__label:focus {
  box-shadow: none;
  outline: none;
}

.todo-item .todo-item__delete {
  padding: 2px;
}

.todo-item .todo-item__edit {
  margin-left: auto;
}

.todo-item__delete .icon {
  font-size: 16px;
  color: #4e5052;
}

.todo-item__delete:hover .icon,
.todo-item__edit:hover .icon{
  color: rgb(241, 83, 98);
}

.new-task {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.new-task .new-task__input {
  width: 100%;
  height: 30px;
  margin-right: 20px;
  padding: 0 5px;
  border: none;
  border-bottom: 1px solid #4e5052;
  border-radius: 0;
  font-size: 14px;
}


.new-task .new-task__input:focus {
  outline: none;
  box-shadow: none;
  border-bottom-color: rgb(241, 83, 98);
}

.new-task .new-task__input:focus::placeholder {
  color: rgb(241, 83, 98);
}

.btn.new-task__create {
  min-width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 3px;
  background-color: #4e5052;
  color: #fff;
}

.btn.new-task__create:hover {
  background-color: rgb(241, 83, 98);
  color: #fff;
}

.todo-item__wrapper {
  display: flex;
  align-items: center;
}

.todo__checked.todo__readonly {
  text-decoration: none;
  cursor: text;
}